/23 Package in Java/App1/nbproject/private/
/23 Package in Java/App1/build/
/23 Package in Java/App1/dist/
/23 Package in Java/App2/nbproject/private/
/23 Package in Java/App2/build/
/24 String in java/StringMorning/nbproject/private/
/24 String in java/StringMorning/build/